## FIRST PYTHON LAB

In [2]:
## try my first Python output

print ("Hello, Python world!")

Hello, Python world!

In [8]:
# Check the Python version

import sys
print (sys.version)

3.6.11 | packaged by conda-forge | (default, Aug  5 2020, 20:09:42)
[GCC 7.5.0]

In [13]:
# Practice on writing comments

print ("Hello, Python!") #this line prints a string 
#print ("Hi")

Hello, Python!

# Print string as error message

frint("Hello, Python!")

In [1]:
# Try to see build in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (<ipython-input-1-63a21a726720>, line 3)

In [2]:
#Print string and error to see the running order

print ("this will be printed")
frint ("this will cause an error")
print ("this will NOT be printed")

this will be printed

NameError: name 'frint' is not defined

In [3]:
#integers

10

10

In [4]:
#float

3.14

3.14

In [5]:
#string

"Hello guys!"

'Hello guys!'

In [6]:
#type of 10

type(10)

int

In [7]:
#type of 3.14

type(3.14)

float

In [8]:
#type of Hello guys!

type("Hello guys!")

str

In [9]:
# Print the type of -1

type(-1)

int

In [10]:
# Print the type of 4

type(4)

int

In [11]:
# Print the type of 0

type(0)

int

In [12]:
# System settings about float type

sys.float_info

NameError: name 'sys' is not defined

In [13]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [14]:
# Print the type of 0.56

type(0.56)

float

In [15]:
#verify that is a integer

type(2)

int

In [16]:
# Convert 2 to a float

type (float(2))

float

In [17]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [18]:
# Convert a string into an integer

int("1")

1

In [19]:
# Convert a string into an integer with error

int("2 or more people")

ValueError: invalid literal for int() with base 10: '2 or more people'

In [20]:
# Convert a string into a float

float("1.2")

1.2

In [21]:
# Convert an integer into a string

str(1)

'1'

In [22]:
# Convert a float into a string

str(1.2)

'1.2'

In [23]:
# Value True

True

True

In [24]:
# Type of True

type(True)

bool

In [25]:
# Value False

False

False

In [26]:
# Type of False

type(False)

bool

In [27]:
# Convert True to int

int(True)

1

In [28]:
# Convert False to int

int(False)

0

In [29]:
# Convert 1 to Boolean

bool(1)

True

In [30]:
# Convert 0 to Boolean

bool(0)

False

In [31]:
# Convert True to float

float(True)

1.0

In [32]:
# Convert False to float

float(False)

0.0

In [55]:
# Addition operation expression

50+30+34+12

126

In [56]:
# Subtraction operation expression

50 - 60

-10

In [57]:
# Multiplication operation expression

5 * 5

25

In [58]:
# Division operation expression

25 / 5

5.0

In [59]:
type(25/5)

float

In [60]:
# Division operation expression

25 / 6

4.166666666666667

In [64]:
# Integer division operation expression

25 // 6

4

In [65]:
# Mathematical expression

30 + 2 * 60

150

In [70]:
# Store value into variable

x = 45 + 60 + 126 + 41

In [71]:
# Print out the value in variable

x

272

In [72]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

4.533333333333333

In [79]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [77]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

## Here ends the first python lab. Topics touched: Types, expressions, variables

## The second python lab. Topics touched: Strings

In [3]:
# Starting point of this second python lab

In [4]:
# Use quotation mark for defining string

"Lebron James"

'Lebron James'

In [5]:
# Use singol quotation mark for defining string

'Lebron James'

'Lebron James'

In [7]:
# Digital and spaces in string 

"1 2 3 4 5 6 7 8 9 10"

'1 2 3 4 5 6 7 8 9 10'

In [9]:
# Special characters in string

"!$%3çà"

'!$%3çà'

In [10]:
# Print the string

print ("Hello there, this is the second python lab, I'm hooked on coding")

Hello there, this is the second python lab, I'm hooked on coding

In [13]:
# Assign string to variable

Name= "Lebron James"
Name

'Lebron James'

## INDEXING

In [20]:
# Print the first element in the string

print (Name[0])

# Print the element on index 2 in the string

print (Name[2]) 

# Print the element on index 4 in the string

print (Name[4])

L
b
o

## Negative index

In [21]:
# Print the last element in the string

print (Name[-1])

s

In [25]:
# Find the length of string (alternative ways)

len (Name)
len ("Lebron James")

12

## Slicing

In [27]:
# Take the slice on variable Name with only index from 0 to 3

Name[0:4]

'Lebr'

In [29]:
# Take the slice on variable Name with only index from 8 to 11

Name [8:12]

'ames'

## Stride

In [30]:
# Get every second element. The elements on index 1,3,5...

Name[::2]

'Lbo ae'

In [33]:
# Get every second element in the range from index 0 to 4

Name [0:5:2]

'Lbo'

## Concatenate Strings

In [37]:
# Concatenate two strings

Statement= Name + " is the LA and NBA King"
Statement

'Lebron James is the LA and NBA King'

In [40]:
# Print the string for three times

3*Name

'Lebron JamesLebron JamesLebron James'

In [42]:
# Concatenate strings

Name="Python"
Name= Name + " is user friendly"
Name

'Python is user friendly'

## Escape Sequences

In [45]:
# New line escape sequence

print ("Lebron James is \nthe King")

Lebron James is
the King

In [47]:
# Tab escape sequence

print ("Lebron James is \t the King")

Lebron James is 	 the King

In [49]:
# Include back slash in the string

print ("Lebron James is \\ the King")

Lebron James is \ the King

In [51]:
# r will tell python that string will be display as raw string

print (r"Lebron james is \ the King")

Lebron james is \ the King

## String Operations

In [58]:
# Convert all the characters in string to upper case

A = "I'm enjoying codying with Python"
print ("Before upper", A)
B = A.upper()
print ("After upper:", B)

Before upper I'm enjoying codying with Python
After upper: I'M ENJOYING CODYING WITH PYTHON

In [62]:
X = "Hello, another try"
print (X)
Y = X.upper ()
print (Y)

Hello, another try
HELLO, ANOTHER TRY

In [79]:
## Replace the old substring with the new target substring is the segment has been found in the string

A = "Lebron James will won the MVP 2020"
B = A.replace('Lebron James', 'Jimmy Butler')
B

'Jimmy Butler will won the MVP 2020'

In [69]:
# Just kidding dudes...
C = B.replace('Jimmy Butler', 'Staffa Giovanni')
C

'Staffa Giovanni will won the MVP 2020'

In [74]:
# Find the substring in the string. Only the index of the first element of substring in string will be the output

Name='Giovanni Staffa'
Name.find('t') #okei, now I got it, it just shows the first element in terms of index string positioning

10

In [77]:
# Find the substring in the string

Name.find('Staf')

9

In [93]:
# If cannot find the substring in the string

Name.find('Giovr')

-1

## This concludes the second Python Lab. I gained other basic notions and codes for programming in Python. See you in the next Python Lab! Giovanni