# PYTHON LAB PART 7

## CONDITION STATEMENTS IN PYTHON

### Comparison Operators

In [3]:
## existing operators:

#equal==
#not equal!=
#greater than >
#less than <
#greater than or equal to =>
#less than or equal to <=

In [4]:
# Condition equal

5==6

False

In [5]:
# Greater than Sign

i = 6
i > 5

True

In [6]:
# Greater than Sign

i = 2
i > 5

False

In [7]:
# Inequality Sign

i = 2
i != 6

True

In [8]:
# Inequality Sign

i = 6
i != 6

False

In [9]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [10]:
# Use Equality sign to compare the strings

"ACDC" == "ACDC"

True

In [11]:
# Use Inequality sign to compare the strings

"ACDC" != "Michael Jackson"

True

In [12]:
# Compare characters

'B' > 'A'

True

In [13]:
# Compare characters

'BA' > 'AB'

True

In [16]:
# Compare characters

'BA' > 'AZ'

True

### Branching

In [21]:
## Think of branching as: Branching allows us to run different statements for different inputs.
## It is helpful to think of an if statement as a locked room, if the statement is True we can enter the room and your program will run some predefined tasks,
## but if the statement is False the program will ignore the task.

In [22]:
# If statement example

age=19
#age=18

#expression that can be true or false
if age >18:
    print("you can enter")
    
print("move on")

you can enter
move on

In [23]:
# If statement example

age=17
#age=18

#expression that can be true or false
if age >18:
    print("you can enter")
    
print ("move on")

move on

In [24]:
# Else statement example

age=18
#age 19

if age >18:
    print("you can enter")
else:
    print("go see Meat Loaf")

print("move on")

go see Meat Loaf
move on

In [26]:
# Else statement example

age=19
#age 19

if age >18:
    print("you can enter")
else:
    print("go see Meat Loaf")

print("move on")

you can enter
move on

In [29]:
# Else statement example with >=

age=18
#age 19

if age >=18:
    print("you can enter")
else:
    print("go see Meat Loaf")

print("move on")

you can enter
move on

In [32]:
# Elif statement example

age=18

if age>18:
    print("you can enter")
elif age==18:
    print("go see pink floyd")
else:
    print("go see meat loaf")

print ("move on")

go see pink floyd
move on

In [37]:
# Condition statement example

album_year=1971

if album_year>1980:
    print("Album is greather than 1980")

print("do something...")

do something...

In [38]:
# Condition statement example

album_year=1990

if album_year>1980:
    print("Album is greather than 1980")

print("do something...")

Album is greather than 1980
do something...

In [39]:
# Condition statement example

album_year = 1983

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [40]:
# Condition statement example

album_year = 1978

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

less than 1980
do something..

In [43]:
# Condition statement example

album_year = 1978

if album_year > 1980:
    print("Album year is greater than 1980")
elif album_year==1978:
    print("it's ok boomer")
else:
    print("less than 1980")

print('do something..')

it's ok boomer
do something..

### Logic Operators

In [49]:
# Condition statement example

album_year = 1887

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
else:
    print("the album dates others release years")
    
print("")
print("Do Stuff..")

the album dates others release years

Do Stuff..

In [51]:
# Condition statement example

album_year = 1988

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

The Album was made in the 1980's

In [56]:
# Condition statement example

album_year = 1983

if not (album_year == '1984'):
    print ("Album year is not 1984")

Album year is not 1984

# PYTHON LAB PART 8

## LOOPS IN PYTHON

### Loops: Range

In [61]:
# Use the range

range(129)

range(0, 129)

In [67]:
# For loop eexample

dates = [1995,1990,1998,1999,2022,1892]
N= len(dates)

for i in range(N):
    print (dates[i])

1995
1990
1998
1999
2022
1892

In [69]:
# Example of for loop

for i in range(0,8):
    print(i)

0
1
2
3
4
5
6
7

In [76]:
# Example of for loop

for i in range(200,205):
    print(i)

200
201
202
203
204

In [77]:
# Exmaple of for loop, loop through list

for year in dates:  
    print(year)

1995
1990
1998
1999
2022
1892

In [81]:
# Use for loop to change the elements in list

squares = ['red','yellow','blue','purple','orange']

for i in range(0,5):
    print("before square",i, 'is',squares[i])
    squares[i]= 'white'
    print("after square", i, 'is',squares[i])

before square 0 is red
after square 0 is white
before square 1 is yellow
after square 1 is white
before square 2 is blue
after square 2 is white
before square 3 is purple
after square 3 is white
before square 4 is orange
after square 4 is white

### What is a While Loop?

In [91]:
# While loop example

dates = [1982, 1980, 1973, 2000]

i=0
year=0

while year!=1973:
    year=dates[i]
    i=i+1
    print(year)
print ("It took ", i ,"repetitions to get out of loop.")

1982
1980
1973
It took  3 repetitions to get out of loop.

In [92]:
A=['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [93]:
x=0
while(x<2):
  print(x)
  x=x+1

0
1

In [95]:
for i,x in enumerate(['A','B','C']):
    print(i,x)

0 A
1 B
2 C

In [99]:
for i in range(1,5):
    if (i!=2):
        print(i)

1
3
4