# THIRD PYTHON LAB

### TUPLES IN PYTHON

In [6]:
# Create my first tuple

tuple1 = ("mouse",10,1.1)
tuple1

('mouse', 10, 1.1)

In [7]:
# Print the type of the tuple you created

type (tuple1)

tuple

## Indexing

In [9]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

mouse
10
1.1

In [12]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [17]:
# Using Negative index to get the value of the last element

print(type(tuple1[-1])) #here the type
tuple1[-1] #here the value associated

<class 'float'>

1.1

In [19]:
# Using Negative index to get the value of the first element

tuple1[-3]

'mouse'

## Concatenate Tuples

In [21]:
# Concatenate two tuples

tuple2=tuple1 +('Hard rock','20')
tuple2

('mouse', 10, 1.1, 'Hard rock', '20')

## Slicing

In [25]:
# Slice from the index 0 to index 2

tuple2[0:3]

('mouse', 10, 1.1, 'Hard rock')

In [27]:
# Slice from the index 3 to index 4

tuple2[3:5]

('Hard rock', '20')

In [28]:
len(tuple2)

5

## Sorting

In [33]:
# A simple tuple

Ratings = (9,2,3,4,5,6,2,1)

In [35]:
# Sort the tuple

RatingSorted = sorted(Ratings)
RatingSorted

[1, 2, 2, 3, 4, 5, 6, 9]

## Nestled Tuple

In [37]:
# Create a nest tuple

Nestedt = (1,2,('pop','folk'),(3,4),('hard',(1,2)))

In [43]:
# Print element on each index

print("Element 0 of Tuple: ",Nestedt[0])
print("Element 1 of Tuple: ",Nestedt[1])
print("Element 2 of Tuple: ",Nestedt[2])
print("Element 3 of Tuple: ",Nestedt[3])
print("Element 4 of Tuple: ",Nestedt[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'folk')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('hard', (1, 2))

In [45]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   Nestedt[2][0])
print("Element 2, 1 of Tuple: ",   Nestedt[2][1])
print("Element 3, 0 of Tuple: ",   Nestedt[3][0])
print("Element 3, 1 of Tuple: ",   Nestedt[3][1])
print("Element 4, 0 of Tuple: ",   Nestedt[4][0])
print("Element 4, 1 of Tuple: ",   Nestedt[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  folk
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  hard
Element 4, 1 of Tuple:  (1, 2)

In [46]:
# Print the first element in the second nested tuples

Nestedt[2][1][0]

'f'

In [47]:
# Print the second element in the second nested tuples

Nestedt[2][1][1]

'o'

In [48]:
# Print the first element in the fourth nested tuples

Nestedt[4][1][0]

1

In [50]:
# Print the second element in the fourth nested tuples

Nestedt[4][1][1]

2

## LISTS IN PYTHON

### Indexing

In [52]:
# Create a list

L =['MJ',1982,1.2]
L

['MJ', 1982, 1.2]

In [56]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: MJ
 Negative: MJ
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982
the same element using negative and positive indexing:
 Postive: 1.2
 Negative: 1.2

### List Content

In [59]:
# Sample list

['Michael Jackson',1982,10.2,[1,2],('A',1)]

['Michael Jackson', 1982, 10.2, [1, 2], ('A', 1)]

### List Operations

In [60]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [64]:
# List slicing

print (L[0:2])
print (L[3:5])

['Michael Jackson', 10.1]
['MJ', 1]

In [66]:
# Use extend to add an element to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop',10.2])
L

['Michael Jackson', 10.2, 'pop', 10.2]

In [69]:
len(L)

3

In [67]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [68]:
len(L)

3

In [70]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, ['pop', 10], ['a', 'b']]

In [71]:
len(L)

4

In [72]:
# Change the element based on the index

A = ['Disco',10.2,1982]
print ("before change:", A)
A[0]='hard rock'
print ('after change:', A)

before change: ['Disco', 10.2, 1982]
after change: ['hard rock', 10.2, 1982]

In [74]:
# Change the element based on the index

A = ['Disco',10.2,1982]
print ("before change:", A)
A[0]='hard rock'
print ('after change:', A)

before change: ['Disco', 10.2, 1982]
after change: ['hard rock', 10.2, 1982]

In [76]:
# Change the element based on the index

A = ['Disco',10.2,1982]
print ("before change:", A)
A[2]=1995
print ('after change:', A)

before change: ['Disco', 10.2, 1982]
after change: ['Disco', 10.2, 1995]

In [77]:
# Delete the element based on the index

print ("before change:",A)
del(A[0])
print ("after change:", A)

before change: ['Disco', 10.2, 1995]
after change: [10.2, 1995]

In [78]:
# Creating a list splitting an element

'hard rock'.split()

['hard', 'rock']

In [79]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

### Copy and  Clone list

In [83]:
# Copy (copy by reference) the list A

A =['HR',10.2,1982]
B=A
print ('A:', A)
print ('B:', B)

A: ['HR', 10.2, 1982]
B: ['HR', 10.2, 1982]

In [86]:
# Examine the copy by reference

print ('B[0]:', B[0])
A[0]= 'Banana'
print ('B[0]:', B[0])

B[0]: HR
B[0]: Banana

In [89]:
# Clone (clone by value) the list A

B=A[:]
B

['Banana', 10.2, 1982]

In [96]:
# Now the change in the list A, will not affect the list B

print('B[0]:', B[0])
A[0] = "hard rock"
print ('A[0]:', A[0])
print('B[0]:', B[0])

B[0]: Banana
A[0]: hard rock
B[0]: Banana