# FIFTH PYTHON LAB

## Dictionaries

In [5]:
# Create the dictionary

Dict={'key1':1, 'key2':2, 'key3':[3,3,3], 'key4':(4,4,4), 'key5': 5, (0,1,5):6}
Dict

{'key1': 1,
 'key2': 2,
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1, 5): 6}

In [11]:
# Access to the value by the key

Dict ['key1']
Dict ['key4']

(4, 4, 4)

In [13]:
# Access to the value by the key

Dict[(0, 1,5)]

6

In [20]:
# Access to the value by the key

Dict[(0,1,5)]

6

In [21]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

### Keys

In [22]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [23]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [25]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [29]:
# Appen value with key into dictionary

release_year_dict['Graduation']='2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [30]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [32]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

In [33]:
# Verify the key is in the dictionary

'COCO' in release_year_dict

False

# SIXTH PYTHON LAB

## Sets in Python

### Set Content

In [6]:
# Create a set

set1={'pop','rock','R&B','hard rock','rock','rock','disco'}
set1 # Python will automatically remove duplicate items

{'R&B', 'disco', 'hard rock', 'pop', 'rock'}

In [9]:
# Convert list to a set

album_list=[ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set=set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [12]:
# Convert list to set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

### Set Operations

In [36]:
# Sample set

A= set(['thriller','back in black','ac/dc'])
A

{'ac/dc', 'back in black', 'thriller'}

In [15]:
# Add element to set

A.add('nsync')
A

{'ac/dc', 'back in black', 'nsync', 'thriller'}

In [16]:
# Try to add duplicate element to the set

A.add('nsync') #If we add the same element twice, nothing will happen as there can be no duplicates in a set
A

{'ac/dc', 'back in black', 'nsync', 'thriller'}

In [17]:
# Remove the element from set

A.remove('nsync')
A

{'ac/dc', 'back in black', 'thriller'}

In [18]:
# Verify if the element is in the set

'ac/dc' in A

True

In [20]:
# Verify if the element is in the set

'Blossom' in A

False

### Sets Logic Operations

In [23]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [24]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [26]:
# Find the intersection

intersection= album_set1&album_set2
intersection

{'AC/DC', 'Back in Black'}

In [27]:
# Find the difference in set1 but not set 2

album_set1.difference(album_set2)

{'Thriller'}

In [28]:
# Find the difference in set2 but not set1

album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [29]:
# Use intersection method to find the intersection of album_set1 and album_set2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [31]:
#Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [32]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [33]:
# Check if superset

set(album_set2).issuperset(album_set1)

False

In [34]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [35]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True